@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}

.container {
    max-width: 1320px;
    padding: 0 30px;
}

.font_inter {
    font-family: "Inter", serif;
}

.font_source_code {
    font-family: "Source Code Pro", serif;
}

.font_sora {
    font-family: "Sora", serif;
}

.font_aeonik {
    font-family: "Aeonik";
}

.body_bg {
    background-color: #0E0C15;
    background-image: url('../images/hero_bg.png');
}

/* --------- navbar section start -------------- */
.navbar {
    padding: 10px 12px;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: #0E0C15;
}

.nav-item>.font_aeonik {
    color: #CAD1E9;
}


.nav_end_btn {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #090EDB, #8D1EA2);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.nav_end_btn::before {
    content: '';
    border-radius: 12px;
    position: absolute;
    inset: 0.15em;
    background-color: #0E0C15;
    box-shadow: inset 0 0 10px rgba(221, 220, 220, 0.16);
    z-index: -1;
}

/* --------- navbar section end -------------- */

/* --------- hero section start -------------- */
#hero_section {
    height: 900px;
}

.plus_1,
.plus_2,
.plus_3,
.plus_4 {
    opacity: .1;
}

.plus_1 {
    left: 34px;
}

.plus_2 {
    right: 34px;
}

.plus_3 {
    bottom: 246px;
    left: 34px;

}

.plus_4 {
    bottom: 246px;
    right: 34px;
}

.ellips_15{
    top: -25px;
    transform: translateX(25%);
}

/* --------- hero section end -------------- */