@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #CAC6DD;
    --secondary-color: white;
    --gradient-one: #090EDB;
    --gradient-two: #DA24BB;
}

.primary_color {
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
}

.container {
    max-width: 1320px;
    padding: 0 30px;
}

.font_inter {
    font-family: "Inter", serif;
}

.font_source_code {
    font-family: "Source Code Pro", serif;
}

.font_sora {
    font-family: "Sora", serif;
}

.font_aeonik {
    font-family: "Aeonik";
}

.body_bg {
    background-color: #0E0C15;
    background-image: url('../images/hero_bg.png');
}

/* --------- navbar section start -------------- */
.navbar {
    padding: 10px 12px;
    margin: 20px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: #0E0C15;
}

.nav-item>.nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.nav_end_btn {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #090EDB, #8D1EA2);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.nav_end_btn::before {
    content: '';
    border-radius: 11px;
    position: absolute;
    inset: 0.15em;
    background-color: #0E0C15;
    box-shadow: inset 0 0 10px rgba(221, 220, 220, 0.16);
    z-index: -1;
}

/* --------- navbar section end -------------- */

/* --------- hero section start -------------- */
#hero_section {
    height: auto;
    padding-bottom: 100px;
}

.plus_1,
.plus_2,
.plus_3,
.plus_4 {
    opacity: .1;
}

.plus_1 {
    left: 34px;
}

.plus_2 {
    right: 34px;
}

.plus_3 {
    bottom: 246px;
    left: 34px;

}

.plus_4 {
    bottom: 246px;
    right: 34px;
}

.ellips_15 {
    /* width: 100%; */
    top: -25px;
    left: 326px;
}

.ellips_16 {
    top: -97px;
    left: 15px;
    width: 99%;
    z-index: -1;
}

.circle_1 {
    top: 190px;
    left: 358px;
}

.circle_1_1 {
    width: 8px;
    height: 8px;
    top: 78px;
    right: 408px;
}

.circle_2 {
    top: 556px;
    left: 316px;
}

.circle_3 {
    top: 430px;
    left: 570px;

}

.hero_header {
    padding-top: 64px;
}

.hero_header>.nav_end_btn::before,
.service_header>.nav_end_btn::before {
    content: '';
    border-radius: 38px;
    position: absolute;
    inset: 0.15em;
    background-color: #0E0C15;
    box-shadow:
        inset 0 0 10px rgba(221, 220, 220, 0.16),
        0 4px 60px 10px rgba(243, 60, 191, 0.459);
    z-index: -1;
}

.hero_title {
    font-size: 60px;
    line-height: 72px;
    background: linear-gradient(to bottom, #F33CC0, #4349FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_title_span {
    width: 264px;
    border-radius: 4px;
    border-width: 6px;
    position: relative;
    background: linear-gradient(to bottom, #fb81ff, #4349FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_title_span::after {
    content: url('../images/curb_underline.svg');
    width: 264px;
    height: 6px;
    position: absolute;
    left: -17px;
    top: 28px;
}

.hero_desc {
    font-size: 24px;
    line-height: 33px;
}

.hero_use_btn {
    padding: 12px 20px;
    border-radius: 12px;
    /* font-weight: 500; */
    background: linear-gradient(to right, var(--gradient-one), var(--gradient-two));
    box-shadow: 119px -84px 330px 73px rgba(235, 35, 178, 0.4);
    z-index: 1;
}


.hero_right_card>.hero_card {
    width: 221px;
    box-shadow: -219px 50px 300px rgba(24, 56, 236, 1), 100px 150px 613px rgba(24, 56, 236, 0.);
    /* Adjusted vertical offset */
}

.hero_card {
    width: 221px;
    border-radius: 16px;
    padding: 10px;
    background: linear-gradient(to bottom right, rgba(27, 28, 54, 0.5), rgba(112, 113, 122, 0.5));
    /* Adjusted vertical offset */
    box-shadow: 219px 50px 300px rgba(24, 56, 236, 0.9), 100px 150px 613px rgba(24, 56, 236, 0.329);
}

.hero_card_img_div {
    padding: 7px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.hero_card_call_img {
    width: 29px;
    height: 29px;
}

.hero_card_title {
    font-size: 14px;
}

.hero_card_info {
    white-space: nowrap;
}

/* --------- hero section end -------------- */


/* --------- service section start -------------- */
#service_section {
    padding: 100px 10px;
}

.service_section>.nav_end_btn {
    padding: 5px 14px 7px 15px;
}

.service_section>.nav_end_btn::before {
    box-shadow:
        inset 0 0 10px rgba(221, 220, 220, 0.16),
        0 2px 20px 2px rgba(243, 60, 191, 0.459);
    cursor: alias;
}

.service_header_gradient {
    background: linear-gradient(to right, rgba(108, 20, 250, 0.877), #8D1EA2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* For Firefox */
    color: transparent;
}

.service_desc {
    font-size: 24px;
}

/* .service_body{
    gap: 24px;
} */
.service_card {
    padding: 32px;
    max-width: 424px;
    width: 100%;
    min-height: 350px;
    background: #0E0C15;
    border-radius: 32px;
    position: relative;
}


.service_card::after {
    content: '';
    position: absolute;
    height: 100.5%;
    width: 100.5%;
    background: linear-gradient(to right, var(--gradient-one), var(--gradient-two));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 32px;
}


/* --------- service section end -------------- */